.lc-main {
  font-size: 12pt;
  font-family: 'Helvetica';
  text-align: left;
  line-height: 140%;
  margin: 10px;
  width: 91%;
}

.lc-tc {
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size: 18pt;
  color: #ff0000;
}

.lc-p {
  text-align: left;
  text-decoration: none;
  font-weight: normal;
  font-size: 12pt;
  margin: 0 0 0 5px;
  padding: 0;
}
.lc-li {
  text-align: left;
  text-decoration: none;
  font-weight: normal;
  margin: 0 0 0 10px;
  padding: 0;
}